:root {
	--main-clr: #e58ae2;
	--accent: #875adb;
	--contrast: #181818;
	--light-gray: #eeeeee;
	--border-radius: 4px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Encode Sans Expanded", sans-serif;
	color: var(--contrast);
	/* outline: 1px pink solid; */
}
